{% extends 'back/admin_base.html' %}
{% load staticfiles %}

    {% block extra_script %}
        <script src="{% static 'plugins/sweetalert/sweetalert2.min.js' %}"></script>
    {% endblock %}

    {% block extra_css  %}
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/sweetalert/sweetalert2.min.css' %}">
    {% endblock %}

    {%block div_id %}admin_venue_label{% endblock %}


    {% block content %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                数据类别名称管理
                <small>
                    <button class="btn btn-primary" style="margin-left:50px; margin-top:-10px" @click="addLabel">
                        {#                    <span class="glyphicon glyphicon-ok">&nbsp;</span>#}
                        添加数据类别
                    </button>
                </small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title" id="table-title">数据类别名称管理</h3>
                            </div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table no-margin table-bordered"
                                           style="word-break:break-all; word-wrap:break-all;table-layout:fixed">
                                        <thead>
                                            <tr>
                                                <th style="width:10%">序号</th>
                                                <th>数据类别名称</th>
                                                <th style="width:200px; text-align:center;">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-center" v-for="label,index in labelNameArr">
                                                <td><span>[[ index+1 ]]</span></td>
                                                <td><span>[[ label.label ]]</span></td>
                                                <td><button class="btn btn-primary" style="margin-right: 10px;" @click="modifyLabel(label.label)">修改</button>
                                                    <button class="btn btn-danger" @click="deleteLabel(label.label)">删除</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--------------------------
                      | Your Page Content Here |
                      -------------------------->
                </div>
            </div>
        </section>

        <div class="modal fade" id="modify" tabindex="-1" role="dialog" aria-labelledby="modifyLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modifyLabel">修改数据类别名称</h4>
                </div>
                    <div class="modal-body">
                    <div class="form-group">
                        <label for="txt_labelName">类别名称</label>
                        <input type="text" name="modify_labelName" class="form-control" id="modify_labelName" v-model="modify_labelName" placeholder="类别名称">
                    </div>
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="modify_submit" @click="modifySubmit(modify_origin_labelName,modify_labelName)" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>确认修改</button>
                </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="addLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="modifyLabel">添加数据类别</h4>
                    </div>
                    <div class="modal-body">
                    <div class="form-group">
                        <label for="txt_departmentname">类别名称</label>
                        <input type="text" name="add_labelName" class="form-control" id="add_labelName" v-model="add_labelName" placeholder="类别名称">
                    </div>
                </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭</button>
                    <button type="button" id="add_submit" @click="addSubmit(add_labelName)" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>确认添加</button>
                </div>
                </div>
            </div>
        </div>
        <!-- /.content -->
    {% endblock %}

{% block end_script %}
<script>
    let admin_venue_label = new Vue({
        el:"#admin_venue_label",
        delimiters: ["[[", "]]"],
        data(){
            return {
                menu_search_active: false,
                menu_data_active: false,
                menu_venue_active: true,
                menu_user_active: false,
                menu_venue_label_active: true,
                menu_venue_item_active: false,
                labelNameArr: [],
                modify_origin_labelName: "",  // 修改之前的
                modify_labelName: "",  //修改之后的
                add_labelName: "",
            }
        },
        mounted(){
            axios.get("/venue/label").then(
                response=>{
                    this.labelNameArr = response.data.data;
                }
            )
        },
        methods: {
            addLabel(){
                $('#add').modal();
            },
            addSubmit(label){
               axios({
                       url: "/venue/label/add/",
                       method: "POST",
                       data: {"label":label},
                       transformRequest: [function (data) {
                           let ret = '';
                           for (let it in data) {
                               ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&';
                           }
                           return ret;
                       }]}).then(response => {
                    res = response.data;
                    if (res.code == 20000) {
                        window.location.reload();
                    } else if (res.code == 20003) {
                        alert("您没有操作权限");
                    }
                });
            },
            modifyLabel(label){
                this.modify_origin_labelName = label;
                this.modify_labelName = label;
                $('#modify').modal();
            },
            modifySubmit(originLabel, label){
                axios.delete("/user/update/" + username).then(response => {
                    res = response.data;
                    if (res.code == 20000) {
                        window.location.reload();
                    } else if (res.code == 20003) {
                        alert("您没有操作权限");
                    }
                });
            },
            deleteLabel(label){
                swal({
                    title: "操作提示",
                    text: "确定删除该类别吗？",
                    type: "warning",
                    showCancelButton: true,
                    confimButtonColor: "#DD6B55",
                    cancelButtonText: "取消",
                    confirmButtonText: "是的，确定删除！",
                    closeOnConfirm: true
                }).then((isConfirm) => {
                    if(isConfirm){
                        axios.delete("/venue/label/delete/" + label).then(response => {
                            res = response.data;
                            if (res.code == 20000) {
                                window.location.reload();
                            } else if (res.code == 20003) {
                                alert("您没有操作权限")
                            }
                        });
                    }
                });
            }
        }
    });
</script>
{% endblock %}
