{% extends 'back/admin_base.html' %}
{% load staticfiles %}

    {% block extra_css %}
        <link href="{% static 'mycss/imgupload.css' %}">
    {% endblock %}

    {%block div_id %}admin_data_detail{% endblock %}


    {% block content %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                数据详情
            </h1>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="form-horizontal col-md-10">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">数据类别:</label>
                        <div class="col-sm-10"><p class="form-control-static">[[data.label]]</p></div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">展馆名称:</label>
                        <div class="col-sm-10"><p class="form-control-static">[[data.venue]]</p></div>
                    </div>
                    <div class="form-group" v-for="item in table">
                        <label class="col-sm-2 control-label">[[ item.name ]]</label>
                        <div class="col-sm-10"><p class="form-control-static">[[item.value]]</p></div>
                    </div>
                    <div class="form-group" v-show="imgList.length!=0" >
                        <label class="col-sm-2 control-label">图片展示</label>
                        <div class="col-sm-10">
                            <div class="warp_img" v-show="imgList.length!=0" >
                                <div class="warp_img_div" style="float:left;margin-right:10px" v-for="(item,index) of imgList" >
                                    <img :src="item" style="width:200px;height:150px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--------------------------
                  | Your Page Content Here |
                  -------------------------->

        </section>
        <!-- /.content -->
    {% endblock %}


{% block end_script %}
<script>
let admin_data_detail = new Vue({
    el: "#admin_data_detail",
    delimiters: ["[[", "]]"],
    data () {
        return {
            menu_data_active: true,
            menu_venue_active: false,
            menu_user_active: false,
            menu_venue_label_active: false,
            menu_venue_item_active: false,
            data: "",
            imgList: [],
            table: "",
        }
    },
    methods: {

    },
    mounted(){
        href = "/data/detail/{{ label }}/{{ venue }}/{{ item }}";
        axios.all([axios.get("/table/{{ label }}"),axios.get(href)]).
        then(axios.spread((table_response,data_response)=>{
            this.table = table_response.data.data.table;
            this.data = data_response.data.data;
            this.imgList = this.data.imgList;
            this.table.forEach((table_item, index)=>{
               table_item.value = this.data.item[table_item.remark];
            });
        }));
    }
})
</script>
{% endblock %}
