{% extends 'back/admin_base.html' %}
{% load staticfiles %}

    {% block extra_script %}

    {% endblock %}

    {% block extra_css  %}

    {% endblock %}

    {%block div_id %}admin_user{% endblock %}


    {% block content %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                用户管理
                <small>
                    <button class="btn btn-primary" style="margin-left:50px; margin-top:-10px">
                        {#                    <span class="glyphicon glyphicon-ok">&nbsp;</span>#}
                        添加用户
                    </button>
                </small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title" id="table-title">用户管理</h3>
                            </div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table no-margin table-bordered"
                                           style="word-break:break-all; word-wrap:break-all;table-layout:fixed;">
                                        <thead align="center">
                                            <tr>
                                                <th style="width: 10%;">序号</th>
                                                <th>用户名</th><th>角色</th>
                                                <th style="width:200px; text-align:center;">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-center" v-for="user,index in users">
                                                <td><span>[[ index+1 ]]</span></td>
                                                <td><span>[[ user.username ]]</span></td>
                                                <td><span>[[ user.role ]]</span></td>
                                                <td><button class="btn btn-primary" style="margin-right: 10px;">修改</button>
                                                    <button class="btn btn-danger">删除</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--------------------------
                      | Your Page Content Here |
                      -------------------------->
                </div>
            </div>
        </section>
        <!-- /.content -->
    {% endblock %}


{% block end_script %}
<script>
    let admin_user = new Vue({
        el:"#admin_user",
        delimiters: ["[[", "]]"],
        data(){
            return {
                menu_search_active: false,
                menu_data_active: false,
                menu_venue_active: false,
                menu_user_active: true,
                menu_venue_label_active: false,
                menu_venue_item_active: false,
                users: []
            }
        },
        mounted(){
            axios.get("/user").then(response=>{
                data = response.data.data;
                this.users = data;
            })
        }
    });
</script>
{% endblock %}
