{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>科学教育资源平台</title>
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/adminlte.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vue/vue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'vue/axios.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/Ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dist/css/skins/skin-blue.min.css' %}">

    <style>
        [v-cloak]{display: none;}
        th{text-align: center}
        .navbar-default .navbar-nav > li > a {
            font-size: 14px;
            color: #fff;
        }

        .navbar-default .navbar-nav > li > a:hover {
            color: deepskyblue;
        }
    </style>
</head>
<body>
    <div id="front_search">
        <div id="wrapper">
        <!-- start header -->
	        <header>
                <div class="navbar navbar-default navbar-static-top"  style="background-color: #3c3c3c;margin-top:-25px">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="{% static 'imgs/logo2.png' %}" alt="logo"/></a>
                    </div>
                    <div class="navbar-collapse collapse " style="float: right;">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="/">首页</a></li>
                            <li><a href="http://www.hbstm.org.cn/">湖北省科技馆</a></li>
                            <li><a href="http://www.whiob.ac.cn/">武汉植物园</a></li>
                            <li><a href="http://mus.cug.edu.cn/">逸夫博物馆</a></li>
                            <li><a href="http://www.ihb.ac.cn/">水生所</a></li>
                            <li class="active"><a href="{% url 'front_search' %}">资源搜索</a></li>
                            <li class=""><a href="{% url 'login' %}">后台</a></li>
                        </ul>
                    </div>
                </div>
            </div>
	        </header>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="form-inline col-md-8">
                    <div class="form-group" style="margin-right: 20px;">
                        <label for="venueName">展馆名称</label>
                        <input type="text" class="form-control" id="venueName" v-model="venueName" >
                    </div>
                    <div class="form-group" style="margin-right: 20px">
                        <label for="itemName">展品名称</label>
                        <input type="text" class="form-control" id="itemName" v-model="itemName">
                    </div>
                    <button type="submit" class="btn btn-primary" @click="searchData">搜索</button>
                </div>
                <div class="col-md-2"></div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="box box-info">
                        <div class="box-body">
                            <div class="table-responsive" v-if="showStatus">
                                <table class="table no-margin table-bordered" style="word-break:break-all; word-wrap:break-all;table-layout:fixed">
                                <thead>
                                    <tr>
                                        <th style="width: 5%">序号</th>
                                        <th>展品名称</th>
                                        <th>数据类别</th>
                                        <th>展馆名称</th>
                                        <th>基本内容</th>
                                        <th>展厅名称</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center" v-for="item,index in datas">
                                        <td>[[index+1]]</td>
                                        <td><a :href="[[item.href]]" target="_blank">[[item.item.name]]</a></td>
                                        <td>[[item.label]]</td>
                                        <td>[[item.venue]]</td>
                                        <td>[[item.item.content]]</td>
                                        <td>[[item.item.room]]</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            <div class="pager" id="pager" v-if="showStatus">
                                <span class="btn btn-default" @click="showPage(1)">首页</span>
                                <span class="btn btn-default" @click="showPage(pagerData.page.pageCurrent-1)">上一页</span>
                                <span class="form-inline">
                                <input class="form-control" style="width:60px;text-align:center" type="text" v-model="pagerData.page.pageCurrent" @keyup.enter="showPage(pagerData.page.pageCurrent)" />
                                </span>
                                <span>共[[pagerData.page.pageCount]]页</span>
                                <span class="btn btn-default" @click="showPage(pagerData.page.pageCurrent+1)">下一页</span>
                                <span class="btn btn-default" @click="showPage(pagerData.page.pageCount)">尾页</span>
                                <span>共[[pagerData.page.totalCount]]条数据，当前显示第[[startData]]-[[endData]]条记录</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--------------------------
                  | Your Page Content Here |
                  -------------------------->
            </div>
	    <!-- end header -->
        </div>
    </div>

<script>
    let front_search = new Vue({
        el:"#front_search",
        delimiters: ["[[", "]]"],
        data(){
            return {
                venueName: "",
                itemName: "",
                showStatus: false,
                datas: [],
                pagerData: {
                    data: [],
                    page: {
                        arrPageSize: [10, 20, 30],
                        pageSize: 10,
                        pageCount: 1,
                        pageCurrent: 1,
                        totalCount: 1
                    }
                },
                sortparam: "",
                sorttype: 1
            }
        },
        methods: {
            searchData(){
                axios.get('/data/search?venue='+this.venueName+'&item='+this.itemName).then(response=>{
                    data = response.data;
                    if(data.length!=0)
                    {
                        this.datas = data.data;
                        this.datas.forEach((mydata, index)=>{
                           mydata.href = "/front/detail/"+mydata.label+"/"+mydata.venue+"/"+mydata.item.name;
                        });
                        this.showStatus = true;
                    } else {
                        alert("未查询到相关信息");
                        this.datas = [];
                        this.showStatus = false;
                    }
                    this.pagerData.page = {
                            arrPageSize: [10, 20, 30],
                            pageSize: 10,
                            pageCount: 1,
                            pageCurrent: 1,
                            totalCount: 1
                        };
                        this.pagerData.page.totalCount = this.datas.length;
                        this.getPageData(this.pagerData.page);

                });
            },
                    showPage: function (pageIndex) {
                    if (pageIndex > 0) {
                        if(pageIndex>this.pagerData.page.pageCount) pageIndex = this.page.pageCount;
                        this.getPageData({pageCurrent:pageIndex,pageSize:this.pageSize});//事件
                    }
                },
            sortBy: function (sortparam) {
                        this.sortparam = sortparam;
                        this.sorttype = this.sorttype == -1 ? 1 : -1;
                    },
            getPageData: function(page) {
                    this.pagerData.page.pageSize = page.pageSize;
                    this.pagerData.page.pageCurrent = page.pageCurrent;
                    this.pagerData.page.pageCount = Math.ceil(this.pagerData.page.totalCount / this.pagerData.page.pageSize);// 修改分页信息
                    let newPageInfo = [];
                    for (let i = 0; i < page.pageSize; i++) {
                        let index =i+(page.pageCurrent-1)*page.pageSize;
                        if(index>this.pagerData.page.totalCount-1)break;
                            newPageInfo[newPageInfo.length] = this.datas[index];
                    }
                    this.pagerData.data = newPageInfo; // 修改分页数据
            }
        },
            //计算属性
        computed:{
        // 分页大小 获取的时候显示父级传入的，修改的时候修改自身的。子组件不能修改父元素的值
        pageSize:{
            get:function(){
                return this.pagerData.page.pageSize;
            },
            set:function(value){
                this.pagerData.page.pageSize = value;
            }
        },
        pageCurrent:{
            get:function(){
                return this.pagerData.page.pageCurrent;
            },
            set:function(value){
                this.pagerData.page.pageCurrent = value;
            }
        },
        startData:function(){
            return this.pagerData.page.pageSize*(this.pagerData.page.pageCurrent-1)+1;
        },
        endData:function(){
            let max =this.pagerData.page.pageSize*this.pagerData.page.pageCurrent;
            return max>this.pagerData.page.totalCount?this.pagerData.page.totalCount:max;
        }
    },

    });
</script>
</body>
</html>