{% extends 'back/admin_base.html' %}
{% load staticfiles %}

    {%block div_id %}admin_venue_item{% endblock %}

    {% block content %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                数据类别-场馆管理
            </h1>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>数据类别</label>
                        <select class="form-control" style="width:90%;" v-model="selectLabelName" @change="changeLabelName">
                            <option v-for="label,index in labelName" :value="label" style="text-align: center;" v-cloak>[[ label ]]</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" style="margin-left:50px; margin-top:25px;">
                        {#                    <span class="glyphicon glyphicon-ok">&nbsp;</span>#}
                        添加场馆
                    </button>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title" id="table-title">数据类别-场馆管理</h3>
                            </div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table no-margin table-bordered"
                                           style="word-break:break-all; word-wrap:break-all;table-layout:fixed">
                                        <thead>
                                            <tr>
                                                <th style="width:10%">序号</th>
                                                <th>场馆名称</th>
                                                <th style="width:200px; text-align:center;">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-center" v-for="item,index in showItemName">
                                                <td><span>[[ index+1 ]]</span></td>
                                                <td><span>[[ item ]]</span></td>
                                                <td><button class="btn btn-primary" style="margin-right: 10px;">修改</button>
                                                    <button class="btn btn-danger">删除</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--------------------------
                      | Your Page Content Here |
                      -------------------------->
                </div>
            </div>
        </section>
        <!-- /.content -->
    {% endblock %}

{% block end_script %}
<script>
    let admin_data = new Vue({
        el:"#admin_venue_item",
        delimiters: ["[[", "]]"],
        data(){
            return {
                menu_data_active: false,
                menu_venue_active: true,
                menu_user_active: false,
                menu_venue_label_active: false,
                menu_venue_item_active: true,
                venue: "",
                labelName: [],
                itemName: [],
                showItemName: [],
                selectLabelName: "",
            }
        },
        mounted(){
            axios.get("/venue").then(response=>{
                this.venue = response.data.data;
                this.venue.forEach((label, index)=>{
                    this.labelName.push(label["name"]);
                    this.itemName.push(label["items"]);
                });
                this.showItemName = this.itemName[0];
                this.selectLabelName = this.labelName[0];
            })
        },
        methods: {
            changeLabelName: function(ele){
                this.selectLabelName = ele.target.value;
                this.venue.forEach((label, index)=>{
                    if(label.name == this.selectLabelName){
                        this.showItemName = this.itemName[index];
                    }
                });
            }
        }
    });
</script>
{% endblock %}
