{% extends 'back/admin_base.html' %}
{% load staticfiles %}

    {% block extra_script %}
        <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    {% endblock %}

    {% block extra_css  %}
        <link rel="stylesheet" type="text/css" href="{% static 'plugins/select2/select2.min.css' %}">
    {% endblock %}

    {%block div_id %}admin_venue_label{% endblock %}


    {% block content %}
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                数据类别名称管理
                <small>
                    <button class="btn btn-primary" style="margin-left:50px; margin-top:-10px">
                        {#                    <span class="glyphicon glyphicon-ok">&nbsp;</span>#}
                        添加数据类别
                    </button>
                </small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title" id="table-title">数据类别名称管理</h3>
                            </div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table no-margin table-bordered"
                                           style="word-break:break-all; word-wrap:break-all;table-layout:fixed">
                                        <thead>
                                            <tr>
                                                <th style="width:10%">序号</th>
                                                <th>数据类别名称</th>
                                                <th style="width:200px; text-align:center;">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-center" v-for="label,index in labelName">
                                                <td><span>[[ index+1 ]]</span></td>
                                                <td><span>[[ label.name ]]</span></td>
                                                <td><button class="btn btn-primary" style="margin-right: 10px;">修改</button>
                                                    <button class="btn btn-danger">删除</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--------------------------
                      | Your Page Content Here |
                      -------------------------->
                </div>
            </div>
        </section>
        <!-- /.content -->
    {% endblock %}

{% block end_script %}
<script>
    let admin_venue_label = new Vue({
        el:"#admin_venue_label",
        delimiters: ["[[", "]]"],
        data(){
            return {
                menu_data_active: false,
                menu_venue_active: true,
                menu_user_active: false,
                menu_venue_label_active: true,
                menu_venue_item_active: false,
                labelName: []
            }
        },
        mounted(){
            axios.get("/venue/label").then(
                response=>{
                    this.labelName = response.data.data;
                }
            )
        }
    });
</script>
{% endblock %}
